#canvas-container {
    display: grid;
    grid-template: auto auto / auto auto auto;
    align-items: center;
    justify-items: center;
}

.resizer {
    width: 4px;
    height: 4px;
    border: 1px solid black;
    background-color: white;
}