html {
    height: 100%;
    background-color: grey;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 1fr;
    margin: 0;
    height: 100%;
    font-family: "SchoolbellRegular", cursive;
}

@font-face {
    font-family: SchoolbellRegular;
    src: url('Schoolbell-Regular.ttf');
}