.tool {
    display: flex;
    width: 30px;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.tool:hover {
    border-color: grey;
}

.tool.selected {
    border-color: black;
}