#color-picker-colors {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.color-picker-color {
    width: 50px;
    height: 40px;
    border: 2px solid;
    border-radius: 10px;
    outline: none;
    text-align: center;
}