@import "tailwindcss";

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 1fr;
    margin: 0;
    height: 100%;
    font-family: "SchoolbellRegular", cursive;
    font-size: 18px;
}

#canvas {
    image-rendering: pixelated;
    background-color: white;
}

@font-face {
    font-family: SchoolbellRegular;
    src: url('Schoolbell-Regular.ttf');
}

html {
    height: 100%;
    background-color: grey;
}

input[type='text'] {
    font-family: "SchoolbellRegular", cursive;
    font-size: 18px;
}

.modal {
    display: grid;
    position: fixed;
    visibility: hidden;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.tool {
    border-color: transparent;
}

.tool:hover {
    border-color: grey;
}

.tool.selected {
    border-color: black;
}